<h1>Questions</h1>
<p>QA Site</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">title</th>
            <th scope="col">Menu</th>
        </tr>
    </thead>
    <tbody>
        <% @questions.each do |qs| %>
            <tr>
                <td><%= qs.id %></td>
                <td><%= qs.title %></td>
                <td>[edit] [delete]</td>
            </tr>
        <% end %>

    </tbody>
</table>
